<!DOCTYPE html>
<html>
  <head>
    <title>Messenger</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <nav class="navbar  navbar-inverse  navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-collapse">
          <span class="sr-only"> Toggle navigation</span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
        </button>
        <div class="col-md-8">
          <% if user_signed_in? %>
            <%= link_to current_user.name, edit_user_registration_path(current_user), class: "user-info col-md-6"  %>
          <% end %>
          <a class="navbar-brand col-md-6" href="#">MESSENGER 
            <%if @un_read_count.present? %>
            <span class="badge badge-danger"><%= @un_read_count %></span>
            <% end %>
          </a>
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class=""><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class=""><%= link_to "Login", new_user_session_path %> </li>
              <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                data-toggle="dropdown"> Setting
                <b class="caret"> </b>
                <ul class="dropdown-menu">
                </ul>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  	<div>
  		<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  	</div>
  	<div class="container">
  		 <%= yield %>
  	</div>
   
  </body>
</html>
